html, body {
    display: block;
    margin: 0px;
    height: 100%;
}

div {
    font-family: sans-serif;
}

.bodyContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    margin: auto;
}


.inputForm {
    overflow: hidden;
    background-color: #f2f2f2;
}

.inputForm input {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 17px;
    border: 1px solid #ccc;
}

.buttonSubmit {
    background-color: #70cf98;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border: none;
}

.buttonCancel {
    background-color: #ffffff;
    color: #898989;
    padding: 12px 20px;
    margin: 8px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border: 1px solid #ccc;
}

.label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

.betweenContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.centerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.startContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.endContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.alignItemsCenter {
    display: flex;
    align-items: center;
}

.alignItemsLeft {
    display: flex;
    align-items: flex-start;
}

.alignItemsRight {
    display: flex;
    align-items: flex-end;
}

.marginInline10px {
    margin-inline: 10px;
}

.marginRight20px {
    margin-right: 20px;
}

.marginLeft20px {
    margin-left: 20px;
}

.marginTop20px {
    margin-top: 20px;
}

.marginBottom20px {
    margin-bottom: 20px;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

select {
    width: 100%;
    padding: 6px 20px;
    font-size: 16.5px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*
    LINKS
*/

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: blue;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: red;
    text-decoration: underline;
}